@font-face {
    font-family: ubuntu;
    font-display: swap;
    src: url(../fonts/ubuntu-regular.woff) format("woff"), url(../fonts/ubuntu-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    font-display: swap;
    src: url(../fonts/ubuntu-medium.woff) format("woff"), url(../fonts/ubuntu-medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    font-display: swap;
    src: url(../fonts/ubuntu-bold.woff) format("woff"), url(../fonts/ubuntu-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 359.98px;
}

body {
    line-height: 1;
    font-family: "ubuntu";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "ubuntu";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    font-size: 14px;
    color: #000000;
}

.body-lock {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
    overflow: hidden;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.header__content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2.5em 0;
}

.header__logo img {
    width: 100%;
    max-width: 150px;
}

.nav-list__item a {
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.3s all;
}

.nav-list__item a:hover {
    color: #cccccc;
}

.icon-menu {
    display: none;
}

.footer__content {
    display: flex;
    align-items: center;
    padding: 1.5em 0;
}

.footer__github a {
    display: flex;
    align-items: center;
    color: #fff;
}

.footer__github img {
    width: 100%;
    max-width: 30px;
    margin: 0 0.75em 0 0;
}

.footer__year {
    line-height: 1.5;
    color: #fff;
    border-bottom: 1px dashed;
}

.footer__rs img {
    width: 100%;
    max-width: 80px;
}

@media (min-width: 991.98px) {
    .header__content {
        justify-content: space-between;
    }

    .header__logo {
        margin: 0 1.42em 0 0;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list__item:not(:last-child) {
        margin: 0 2.14em 0 0;
    }
}

@media (min-width: 767.98px) {
    .footer__content {
        justify-content: space-between;
    }
}

@media (max-width: 991.98px) {
    .container {
        max-width: 750px;
    }

    .header__content {
        justify-content: center;
    }

    .header__logo {
        z-index: 5;
    }

    .header__nav {
        position: fixed;
        top: 100%;
        left: 0;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 5em 0 2em 0;
        background: linear-gradient(180deg, #0338f4, #e025ce);
        opacity: 0;
        transition: all 0.5s ease 0s;
        visibility: hidden;
        overflow: hidden auto;
    }

    .header__nav_active {
        top: 0;
        opacity: 1;
        visibility: visible;
    }

    .nav-list__item {
        font-size: 20px;
        text-align: center;
    }

    .nav-list__item:not(:last-child) {
        margin: 0 0 2em 0;
    }

    .icon-menu {
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 5;
        display: block;
        width: 30px;
        height: 18px;
        transform: translate(0, -50%);
        cursor: pointer;
    }

    .icon-menu span {
        position: absolute;
        top: calc(50% - 1px);
        left: 0px;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        transition: all 0.3s ease 0s;
    }

    .icon-menu span:first-child {
        top: 0px;
    }

    .icon-menu span:last-child {
        top: auto;
        bottom: 0px;
    }

    .icon-menu_active span {
        transform: scale(0);
    }

    .icon-menu_active span:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }

    .icon-menu_active span:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__content div:not(:nth-child(2)) {
        margin: 0 0 1em;
    }

    .footer__github {
        order: 2;
    }

    .footer__year {
        order: 3;
    }
}
